.change-password-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.change-password-thq-change-password-elm {
  width: 100%;
  height: auto;
  display: flex;
  padding: 96px 32px 48px 288px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(251, 248, 255, 1);
}
 
.change-password-thq-aside-side-nav-bar-elm {
  top: 0;
  left: 0;
  width: 256px;
  height: 1080px;
  display: flex;
  padding: 32px 16px 581px;
  z-index: 1;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(248, 250, 252, 1);
}
 
.change-password-thq-margin-elm10 {
  display: flex;
  padding: 0 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-container-elm10 {
  gap: 12px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.change-password-thq-academic-researcher-avatar-elm {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: rgba(224, 231, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  background-size: cover;
  background-image: url("public/tq_pgrjpajnbq-rcm-200h.png");
}
 
.change-password-thq-container-elm11 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-text-elm10 {
  color: rgba(49, 46, 129, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: "Manrope";
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-navmargin-elm {
  height: 258px;
  display: flex;
  padding: 8px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.change-password-thq-nav-elm {
  width: 224px;
  height: 250px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
 
.change-password-thq-link-elm1 {
  top: 208px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.change-password-thq-margin-elm11 {
  width: 32px;
  height: 16px;
}
 
.change-password-thq-container-elm12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-text-elm11 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-link-elm2 {
  top: 104px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.change-password-thq-margin-elm12 {
  width: 36px;
  height: 16px;
}
 
.change-password-thq-container-elm13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-text-elm12 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-link-elm3 {
  top: 52px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.change-password-thq-margin-elm13 {
  width: 30px;
  height: 18px;
}
 
.change-password-thq-container-elm14 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-text-elm13 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-link-elm4 {
  top: 156px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.change-password-thq-margin-elm14 {
  width: 28px;
  height: 16px;
}
 
.change-password-thq-container-elm15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-text-elm14 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-link-elm5 {
  top: 0px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.change-password-thq-margin-elm15 {
  width: 30px;
  height: 18px;
}
 
.change-password-thq-container-elm16 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-text-elm15 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-link-elm6 {
  top: 156px;
  left: 0px;
  width: 224px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(49, 46, 129, 1);
  border-style: solid;
  border-width: 0 4px 0 0;
  background-color: rgba(241, 245, 249, 1);
}
 
.change-password-thq-margin-elm16 {
  width: 28px;
  height: 16px;
}
 
.change-password-thq-container-elm17 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-text-elm16 {
  color: rgba(49, 46, 129, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-margin-elm17 {
  display: flex;
  padding: 40px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-container-elm18 {
  gap: 16px;
  height: 125px;
  display: flex;
  padding: 0 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.change-password-thq-button-elm1 {
  gap: 7.989999771118164px;
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  background: linear-gradient(159deg, rgba(0, 6, 102, 1) 0%, rgba(26, 35, 126, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
 
.change-password-thq-buttonshadow-elm {
  top: 0px;
  left: 0px;
  width: 208px;
  height: 44px;
  position: absolute;
  border-radius: 8px;
}
 
.change-password-thq-container-elm19 {
  width: 8px;
  height: 8px;
  z-index: 1;
}
 
.change-password-thq-container-elm20 {
  display: flex;
  z-index: 2;
  align-items: center;
  flex-direction: column;
}
 
.change-password-thq-text-elm17 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-horizontal-border-elm {
  gap: 4px;
  height: 95px;
  display: flex;
  padding: 16px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(226, 232, 240, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
 
.change-password-thq-link-elm7 {
  gap: -3.552713678800501e-15px;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.change-password-thq-margin-elm18 {
  width: 24px;
  height: 12px;
}
 
.change-password-thq-container-elm21 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-text-elm18 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-link-elm8 {
  gap: -3.552713678800501e-15px;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.change-password-thq-margin-elm19 {
  width: 23px;
  height: 11px;
}
 
.change-password-thq-container-elm22 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-text-elm19 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-main-content-area-elm {
  gap: 48px;
  width: 1510px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.change-password-thq-hero-header-elm {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-container-elm23 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-heading2-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-text-elm20 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 36px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-container-elm24 {
  width: 672px;
  display: flex;
  padding: 8px 0 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.change-password-thq-text-elm21 {
  color: rgba(76, 97, 108, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-asymmetric-grid-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.change-password-thq-left-column-primary-actions-elm {
  gap: 32px;
  width: 1510px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.change-password-thq-change-password-section-elm {
  gap: 32px;
  display: flex;
  padding: 32px 32px 48px;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.change-password-thq-container-elm25 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.change-password-thq-background-elm1 {
  width: 36px;
  height: 36px;
}
 
.change-password-thq-container-elm26 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-heading3-elm1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-text-elm24 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: "Manrope";
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-form-elm1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-container-elm27 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.change-password-thq-container-elm28 {
  width: 1446px;
  height: 75px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
}
 
.change-password-thq-text-elm25 {
  left: 4px;
  color: rgba(76, 97, 108, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-input-elm1 {
  top: 24px;
  left: 0px;
  width: 1446px;
  display: flex;
  padding: 14px 16px 15px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px 1px 2px;
  justify-content: center;
  background-color: rgba(245, 242, 251, 1);
}
 
.change-password-thq-container-elm29 {
  width: 1412.330078125px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.change-password-thq-text-elm26 {
  color: rgba(107, 114, 128, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-container-elm30 {
  width: 711px;
  height: 75px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
}
 
.change-password-thq-text-elm27 {
  left: 4px;
  color: rgba(76, 97, 108, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-input-elm2 {
  top: 24px;
  left: 0px;
  width: 711px;
  display: flex;
  padding: 14px 16px 15px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px 1px 2px;
  justify-content: center;
  background-color: rgba(245, 242, 251, 1);
}
 
.change-password-thq-container-elm31 {
  width: 676.6600341796875px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.change-password-thq-text-elm28 {
  color: rgba(107, 114, 128, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-container-elm32 {
  width: 711px;
  height: 75px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
}
 
.change-password-thq-text-elm29 {
  left: 4px;
  color: rgba(76, 97, 108, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-input-elm3 {
  top: 24px;
  left: 0px;
  width: 711px;
  display: flex;
  padding: 14px 16px 15px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px 1px 2px;
  justify-content: center;
  background-color: rgba(245, 242, 251, 1);
}
 
.change-password-thq-container-elm33 {
  width: 676.6700439453125px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.change-password-thq-text-elm30 {
  color: rgba(107, 114, 128, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-container-elm34 {
  display: flex;
  padding: 16px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: flex-end;
}
 
.change-password-thq-button-elm2 {
  display: flex;
  padding: 12px 32px;
  background: linear-gradient(158deg, rgba(0, 6, 102, 1) 0%, rgba(26, 35, 126, 1) 100%);
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
 
.change-password-thq-text-elm31 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-change-email-section-elm {
  gap: 32px;
  display: flex;
  padding: 32px 32px 48px;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806);
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.change-password-thq-container-elm35 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.change-password-thq-background-elm2 {
  width: 36px;
  height: 36px;
}
 
.change-password-thq-container-elm36 {
  height: 24px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.change-password-thq-heading3-elm2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-text-elm32 {
  color: rgba(27, 27, 33, 1);
  width: 136px;
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: "Manrope";
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-form-elm2 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.change-password-thq-container-elm37 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.change-password-thq-container-elm38 {
  width: 711px;
  height: 75px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
}
 
.change-password-thq-text-elm33 {
  left: 4px;
  color: rgba(76, 97, 108, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-input-elm4 {
  top: 24px;
  left: 0px;
  width: 711px;
  display: flex;
  padding: 14px 16px 15px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px 1px 2px;
  justify-content: center;
  background-color: rgba(245, 242, 251, 1);
}
 
.change-password-thq-container-elm39 {
  width: 676.6600341796875px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.change-password-thq-text-elm34 {
  color: rgba(107, 114, 128, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-container-elm40 {
  width: 711px;
  height: 75px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
}
 
.change-password-thq-text-elm35 {
  left: 4px;
  color: rgba(76, 97, 108, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-input-elm5 {
  top: 24px;
  left: 0px;
  width: 711px;
  display: flex;
  padding: 14px 16px 15px;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 1px 1px 2px;
  justify-content: center;
  background-color: rgba(245, 242, 251, 1);
}
 
.change-password-thq-container-elm41 {
  width: 676.6700439453125px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.change-password-thq-text-elm36 {
  color: rgba(107, 114, 128, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Public Sans";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-thq-container-elm42 {
  display: flex;
  padding: 16px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: flex-end;
}
 
.change-password-thq-button-elm3 {
  display: flex;
  padding: 12px 32px;
  background: linear-gradient(158deg, rgba(0, 6, 102, 1) 0%, rgba(26, 35, 126, 1) 100%);
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
 
.change-password-thq-text-elm37 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: "Public Sans";
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.change-password-link {
  display: contents;
}
 
.change-password-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.change-password-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.change-password-text2 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
