.edit-project-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.edit-project-thq-edit-project-elm {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(251, 248, 255, 1);
}
 
.edit-project-thq-side-nav-bar-elm {
  width: 256px;
  height: 1024px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  padding-left: 32px 0;
  padding-right: 32px 0;
  flex-direction: column;
  padding-bottom: 32px 0;
  background-color: rgba(248, 250, 252, 1);
}
 
.edit-project-thq-aside-side-nav-bar-elm {
  width: 256px;
  height: 1024px;
  display: flex;
  padding: 32px 16px 581px;
  z-index: 2;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(248, 250, 252, 1);
}
 
.edit-project-thq-margin-elm10 {
  display: flex;
  padding: 0 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-container-elm10 {
  gap: 12px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.edit-project-thq-academic-researcher-avatar-elm1 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: rgba(224, 231, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  background-size: cover;
  background-image: url("public/tq_y4bsa7zekg-jjpr-200h.png");
}
 
.edit-project-thq-container-elm11 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm10 {
  color: rgba(49, 46, 129, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-navmargin-elm {
  height: 258px;
  display: flex;
  padding: 8px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.edit-project-thq-nav-elm {
  width: 224px;
  height: 250px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
 
.edit-project-thq-link-elm1 {
  top: 208px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.edit-project-thq-margin-elm11 {
  width: 32px;
  height: 16px;
}
 
.edit-project-thq-container-elm12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm11 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-link-elm2 {
  top: 104px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.edit-project-thq-margin-elm12 {
  width: 36px;
  height: 16px;
}
 
.edit-project-thq-container-elm13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm12 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-link-elm3 {
  top: 52px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.edit-project-thq-margin-elm13 {
  width: 30px;
  height: 18px;
}
 
.edit-project-thq-container-elm14 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm13 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-link-elm4 {
  top: 156px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.edit-project-thq-margin-elm14 {
  width: 28px;
  height: 16px;
}
 
.edit-project-thq-container-elm15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm14 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-link-elm5 {
  top: 0px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.edit-project-thq-margin-elm15 {
  width: 30px;
  height: 18px;
}
 
.edit-project-thq-container-elm16 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm15 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-margin-elm16 {
  display: flex;
  padding: 40px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-container-elm17 {
  gap: 16px;
  height: 125px;
  display: flex;
  padding: 0 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-button-elm10 {
  gap: 7.989999771118164px;
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  background: linear-gradient(159deg, rgba(0, 6, 102, 1) 0%, rgba(26, 35, 126, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
 
.edit-project-thq-buttonshadow-elm1 {
  top: 0px;
  left: 0px;
  width: 208px;
  height: 44px;
  position: absolute;
  border-radius: 8px;
}
 
.edit-project-thq-container-elm18 {
  width: 8px;
  height: 8px;
  z-index: 1;
}
 
.edit-project-thq-container-elm19 {
  display: flex;
  z-index: 2;
  align-items: center;
  flex-direction: column;
}
 
.edit-project-thq-text-elm16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-horizontal-border-elm {
  gap: 4px;
  height: 95px;
  display: flex;
  padding: 16px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(226, 232, 240, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
 
.edit-project-thq-link-elm6 {
  gap: -3.552713678800501e-15px;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.edit-project-thq-margin-elm17 {
  width: 24px;
  height: 12px;
}
 
.edit-project-thq-container-elm20 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm17 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-link-elm7 {
  gap: -3.552713678800501e-15px;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.edit-project-thq-margin-elm18 {
  width: 23px;
  height: 11px;
}
 
.edit-project-thq-container-elm21 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm18 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-main-content-wrapper-elm {
  width: 1664px;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  background-color: rgba(251, 248, 255, 1);
}
 
.edit-project-thq-main-scrollable-canvas-elm {
  top: 0px;
  left: -25px;
  width: 1664px;
  height: 1128.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-container-elm22 {
  gap: 48px;
  display: flex;
  padding: 48px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-page-header-elm {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.edit-project-thq-container-elm23 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-container-elm24 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm19 {
  color: rgba(0, 6, 102, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-heading2-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm20 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 48px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 800;
  line-height: 48px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-container-elm25 {
  display: flex;
  padding: 3.375px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm21 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 22.75px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-container-elm26 {
  gap: -0.009999999776482582px;
  display: flex;
  align-items: flex-start;
}
 
.edit-project-thq-buttonmargin-elm1 {
  display: flex;
  padding: 0 55px 0 0;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-button-elm11 {
  display: flex;
  padding: 10px 45.47999954223633px 10px 45.470001220703125px;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(205, 0, 0, 1);
}
 
.edit-project-thq-text-elm22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Manrope;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-button-elm12 {
  display: flex;
  padding: 10px 44.54999923706055px;
  position: relative;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
 
.edit-project-thq-buttonshadow-elm2 {
  top: 0px;
  left: 0px;
  width: 141px;
  height: 40px;
  position: absolute;
  border-radius: 4px;
}
 
.edit-project-thq-text-elm23 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  z-index: 1;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Manrope;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-buttonmargin-elm2 {
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-button-elm13 {
  display: flex;
  padding: 10px 45.47999954223633px 10px 45.470001220703125px;
  background: linear-gradient(155deg, rgba(0, 6, 102, 1) 0%, rgba(26, 35, 126, 1) 100%);
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
 
.edit-project-thq-text-elm24 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Manrope;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-asymmetric-layout-grid-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.edit-project-thq-section1-project-parameters-colspan8-elm {
  width: 986.6665649414062px;
  display: flex;
  padding: 0 0 128px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-primary-form-surface-elm {
  display: flex;
  padding: 4px;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 24px;
  flex-direction: column;
  background-color: rgba(239, 236, 245, 1);
}
 
.edit-project-thq-background-elm1 {
  display: flex;
  padding: 40px;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 22px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.edit-project-thq-container-elm27 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.edit-project-thq-title-elm {
  gap: 8px;
  width: 898.6665649414062px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-label-elm1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm25 {
  color: rgba(0, 6, 102, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-input-elm1 {
  display: flex;
  padding: 12px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(198, 197, 212, 0.30000001192092896);
  border-style: solid;
  border-width: 1px 1px 2px;
  justify-content: center;
}
 
.edit-project-thq-container-elm28 {
  width: 896.6665649414062px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-text-elm26 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-text-elm27 {
  color: rgba(0, 6, 102, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-input-elm2 {
  display: flex;
  padding: 10px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(198, 197, 212, 0.30000001192092896);
  border-style: solid;
  border-width: 1px 1px 2px;
  justify-content: center;
}
 
.edit-project-thq-container-elm29 {
  width: 896.6665649414062px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-text-elm28 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-team-size-elm {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
 
.edit-project-thq-text-elm29 {
  color: rgba(0, 6, 102, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-options-elm1 {
  display: flex;
  padding: 10px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(198, 197, 212, 0.30000001192092896);
  border-style: solid;
  border-width: 1px 1px 2px;
  justify-content: center;
}
 
.edit-project-thq-imageclip-elm1 {
  width: 221.66000366210938px;
  height: 43px;
  display: flex;
  padding: 10.5px 9px 11.5px 200.66000366210938px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.edit-project-thq-svg-elm1 {
  width: 21px;
  height: 21px;
}
 
.edit-project-thq-container-elm30 {
  width: 220px;
  display: flex;
  z-index: 1;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-text-elm30 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-status-elm {
  gap: 8px;
  width: 433.3332824707031px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-label-elm2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm31 {
  color: rgba(0, 6, 102, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-container-elm31 {
  width: 222px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-options-elm2 {
  display: flex;
  padding: 10px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(198, 197, 212, 0.30000001192092896);
  border-style: solid;
  border-width: 1px 1px 2px;
  justify-content: center;
}
 
.edit-project-thq-imageclip-elm2 {
  width: 221.66998291015625px;
  height: 43px;
  display: flex;
  padding: 10.5px 9px 11.5px 200.6699981689453px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.edit-project-thq-svg-elm2 {
  width: 21px;
  height: 21px;
}
 
.edit-project-thq-container-elm32 {
  width: 220px;
  display: flex;
  z-index: 1;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-text-elm32 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-text-elm33 {
  color: rgba(0, 6, 102, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-textarea-elm {
  display: flex;
  padding: 10px 0 30px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(198, 197, 212, 0.30000001192092896);
  border-style: solid;
  border-width: 1px 1px 2px;
  justify-content: center;
}
 
.edit-project-thq-container-elm33 {
  width: 896.6665649414062px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-text-elm34 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-budget-elm {
  gap: 8px;
  width: 433.3332824707031px;
  display: flex;
  padding: 0 0 16px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-label-elm3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm38 {
  color: rgba(0, 6, 102, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-container-elm34 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-input-elm3 {
  display: flex;
  padding: 10px 0 10px 16px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(198, 197, 212, 0.30000001192092896);
  border-style: solid;
  border-width: 1px 1px 2px;
  justify-content: center;
}
 
.edit-project-thq-container-elm35 {
  width: 415.3332824707031px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-text-elm39 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-container-elm36 {
  height: 20px;
  display: flex;
  z-index: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-container-elm37 {
  gap: 8px;
  width: 208.66664123535156px;
  display: flex;
  padding: 0 0 16px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-label-elm4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm40 {
  color: rgba(0, 6, 102, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-input-elm4 {
  display: flex;
  padding: 10px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(198, 197, 212, 0.30000001192092896);
  border-style: solid;
  border-width: 1px 1px 2px;
  justify-content: center;
}
 
.edit-project-thq-container-elm38 {
  gap: -0.009999999776482582px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
 
.edit-project-thq-container-elm39 {
  width: 191.6766357421875px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-container-elm40 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-rectanglealignstretch-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.edit-project-thq-rectangle-elm {
  width: 15px;
  height: auto;
  opacity: 0.00;
  align-self: stretch;
}
 
.edit-project-thq-text-elm41 {
  color: rgba(0, 6, 102, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-input-elm5 {
  display: flex;
  padding: 10px 0;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(198, 197, 212, 0.30000001192092896);
  border-style: solid;
  border-width: 1px 1px 2px;
  justify-content: center;
}
 
.edit-project-thq-container-elm41 {
  gap: 0.009999999776482582px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
 
.edit-project-thq-container-elm42 {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
}
 
.edit-project-thq-paragraph-elm {
  gap: 1px;
  display: flex;
  padding: 0 0.9900000095367432px 0 1px;
  align-self: stretch;
  align-items: flex-start;
}
 
.edit-project-thq-text-elm42 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-text-elm43 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-text-elm44 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-buttonmenu-elm {
  width: 18px;
  height: 18px;
  display: flex;
  padding: 2px;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-section23-team-dynamics-colspan4-elm {
  gap: 32px;
  width: 469.3333740234375px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.edit-project-thq-team-management-elm {
  display: flex;
  padding: 4px;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 24px;
  flex-direction: column;
  background-color: rgba(239, 236, 245, 1);
}
 
.edit-project-thq-background-elm2 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 22px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.edit-project-thq-container-elm43 {
  gap: 56.84000015258789px;
  display: flex;
  padding: 0 1.1368683772161603e-13px 0 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.edit-project-thq-heading3-elm1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm45 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-background-elm3 {
  display: flex;
  padding: 4px 8px;
  align-items: flex-start;
  border-radius: 6px;
  flex-direction: column;
  background-color: rgba(234, 231, 239, 1);
}
 
.edit-project-thq-text-elm46 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 700;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-container-elm44 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-member1-elm {
  gap: -0.009999999776482582px;
  display: flex;
  padding: 0 0.009999999776482582px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.edit-project-thq-container-elm45 {
  gap: -1.1368683772161603e-13px;
  width: 231px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
 
.edit-project-thq-academic-researcher-avatar-elm2 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: rgba(224, 231, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  background-size: cover;
  background-image: url("public/tq_e546cunkvw-qyxt-200h.png");
}
 
.edit-project-thq-margin-elm19 {
  display: flex;
  padding: 0 0 0 12px;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-container-elm46 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-container-elm47 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm47 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 17.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-container-elm48 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm48 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-container-elm49 {
  display: flex;
  opacity: 0.00;
  align-items: center;
}
 
.edit-project-thq-button-elm14 {
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
 
.edit-project-thq-buttonmargin-elm3 {
  display: flex;
  padding: 0 0 0 4px;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-button-elm15 {
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
 
.edit-project-thq-member2-elm {
  gap: -0.009999999776482582px;
  display: flex;
  padding: 0 0.009999999776482582px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.edit-project-thq-container-elm50 {
  gap: -1.1368683772161603e-13px;
  display: flex;
  align-items: center;
}
 
.edit-project-thq-academic-researcher-avatar-elm3 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: rgba(224, 231, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  background-size: cover;
  background-image: url("public/tq_rbbfahdokn-ttbv-200h.png");
}
 
.edit-project-thq-margin-elm20 {
  display: flex;
  padding: 0 0 0 12px;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-container-elm51 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-container-elm52 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm49 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 17.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-container-elm53 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm50 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-container-elm54 {
  display: flex;
  opacity: 0.00;
  align-items: center;
}
 
.edit-project-thq-button-elm16 {
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
 
.edit-project-thq-buttonmargin-elm4 {
  display: flex;
  padding: 0 0 0 4px;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-button-elm17 {
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
 
.edit-project-thq-member3-elm {
  gap: 15.819999694824219px;
  display: flex;
  padding: 0 0.009999999776482582px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.edit-project-thq-container-elm55 {
  gap: -1.1368683772161603e-13px;
  display: flex;
  align-items: center;
}
 
.edit-project-thq-academic-researcher-avatar-elm4 {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: rgba(224, 231, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  background-size: cover;
  background-image: url("public/tq_rywycoa6ps-q0ca-200h.png");
}
 
.edit-project-thq-margin-elm21 {
  display: flex;
  padding: 0 0 0 12px;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-container-elm56 {
  gap: 2px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-container-elm57 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm51 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 17.5px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-container-elm58 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm52 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-container-elm59 {
  display: flex;
  opacity: 0.00;
  align-items: center;
}
 
.edit-project-thq-button-elm18 {
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
 
.edit-project-thq-buttonmargin-elm5 {
  display: flex;
  padding: 0 0 0 4px;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-button-elm19 {
  display: flex;
  padding: 6px;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
 
.edit-project-thq-open-roles-elm {
  display: flex;
  padding: 4px;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 24px;
  flex-direction: column;
  background-color: rgba(239, 236, 245, 1);
}
 
.edit-project-thq-background-elm4 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 22px;
  flex-direction: column;
  background-color: rgba(245, 242, 251, 1);
}
 
.edit-project-thq-heading3-elm2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm53 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-role1-elm {
  gap: 8px;
  display: flex;
  padding: 16px;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.edit-project-thq-role1shadow-elm {
  top: 0px;
  left: 0px;
  width: 413px;
  height: 92px;
  position: absolute;
  border-radius: 8px;
}
 
.edit-project-thq-container-elm60 {
  gap: 29.420000076293945px;
  display: flex;
  padding: 0 0.009999999776482582px 0 0;
  z-index: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.edit-project-thq-text-elm54 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-button-elm20 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.edit-project-thq-container-elm61 {
  width: 9px;
  height: 9px;
}
 
.edit-project-thq-container-elm62 {
  display: flex;
  z-index: 2;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-text-elm55 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-thq-add-new-role-form-elm {
  gap: 16px;
  display: flex;
  padding: 32px 0 0;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(198, 197, 212, 0.20000000298023224);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
 
.edit-project-thq-container-elm63 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-button-elm21 {
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
 
.edit-project-thq-container-elm64 {
  width: 11px;
  height: 11px;
}
 
.edit-project-thq-margin-elm22 {
  display: flex;
  padding: 0 0 0 8px;
  align-items: flex-start;
  flex-direction: column;
}
 
.edit-project-thq-container-elm65 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.edit-project-thq-text-elm58 {
  color: rgba(0, 6, 102, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: center;
  font-family: Manrope;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.edit-project-link {
  display: contents;
}
 
.edit-project-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.edit-project-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.edit-project-text4 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
