.dashboard-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.dashboard-thq-dashboard-elm {
  width: 100%;
  height: 1260px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-end;
  background-color: rgba(251, 248, 255, 1);
}
 
.dashboard-thq-aside-side-nav-bar-elm {
  width: 256px;
  height: 1052px;
  display: flex;
  padding: 32px 16px 581px;
  z-index: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(248, 250, 252, 1);
}
 
.dashboard-thq-margin-elm1 {
  display: flex;
  padding: 0 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-container-elm10 {
  gap: 12px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.dashboard-thq-academic-researcher-avatar-elm {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: rgba(224, 231, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  background-size: cover;
  background-image: url("/images/tq_kqe9ska23t-7n79-200h.png");
}
 
.dashboard-thq-container-elm11 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-text-elm10 {
  color: rgba(49, 46, 129, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-navmargin-elm {
  height: 250px;
  display: flex;
  padding: 8px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.dashboard-thq-nav-elm {
  width: 224px;
  height: 242px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
 
.dashboard-thq-link-elm1 {
  top: 0px;
  left: 4px;
  width: 224px;
  display: flex;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(49, 46, 129, 1);
  border-style: solid;
  border-width: 0 4px 0 0;
  background-color: rgba(241, 245, 249, 1);
}
 
.dashboard-thq-margin-elm2 {
  width: 30px;
  height: 18px;
}
 
.dashboard-thq-container-elm12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-text-elm11 {
  color: rgba(49, 46, 129, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-link-elm2 {
  top: 52px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.dashboard-thq-margin-elm3 {
  width: 30px;
  height: 18px;
}
 
.dashboard-thq-container-elm13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-text-elm12 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-link-elm3 {
  top: 104px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.dashboard-thq-margin-elm4 {
  width: 36px;
  height: 16px;
}
 
.dashboard-thq-container-elm14 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-text-elm13 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-link-elm4 {
  top: 156px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.dashboard-thq-margin-elm5 {
  width: 28px;
  height: 16px;
}
 
.dashboard-thq-container-elm15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-text-elm14 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-margin-elm6 {
  display: flex;
  padding: 8px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-container-elm16 {
  gap: 16px;
  height: 125px;
  display: flex;
  padding: 0 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.dashboard-thq-button-elm {
  gap: 7.989999771118164px;
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  background: linear-gradient(159deg, rgba(0, 6, 102, 1) 0%, rgba(26, 35, 126, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
 
.dashboard-thq-buttonshadow-elm {
  top: 0px;
  left: 0px;
  width: 208px;
  height: 44px;
  position: absolute;
  border-radius: 8px;
}
 
.dashboard-thq-container-elm17 {
  width: 8px;
  height: 8px;
  z-index: 1;
}
 
.dashboard-thq-container-elm18 {
  display: flex;
  z-index: 2;
  align-items: center;
  flex-direction: column;
}
 
.dashboard-thq-text-elm15 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-horizontal-border-elm {
  gap: 4px;
  height: 95px;
  display: flex;
  padding: 16px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(226, 232, 240, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
 
.dashboard-thq-link-elm5 {
  gap: -3.552713678800501e-15px;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.dashboard-thq-margin-elm7 {
  width: 24px;
  height: 12px;
}
 
.dashboard-thq-container-elm19 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-text-elm16 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-link-elm6 {
  gap: -3.552713678800501e-15px;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.dashboard-thq-margin-elm8 {
  width: 23px;
  height: 11px;
}
 
.dashboard-thq-container-elm20 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-text-elm17 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-main-content-canvas-elm {
  gap: 48px;
  width: 1024px;
  height: 1052px;
  display: flex;
  padding: 96px 32px 48px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.dashboard-thq-welcome-header-elm {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-heading1-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-text-elm18 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 36px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-container-elm21 {
  width: 672px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.dashboard-thq-text-elm19 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-bento-grid-layout-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.dashboard-thq-section-active-projects-elm {
  gap: 24px;
  width: 629.3333129882812px;
  display: flex;
  padding: 0 0 279.75px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.dashboard-thq-container-elm22 {
  gap: 370.19000244140625px;
  display: flex;
  padding: 0 1.1368683772161603e-13px 0 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.dashboard-thq-heading2-elm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-text-elm20 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-container-elm23 {
  gap: 16px;
  width: 966px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.dashboard-thq-project-card1-elm {
  gap: 24px;
  display: flex;
  padding: 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.dashboard-thq-container-elm24 {
  gap: 4px;
  width: 834px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.dashboard-thq-container-elm25 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.dashboard-thq-background-elm1 {
  display: flex;
  padding: 2px 8px;
  align-items: flex-start;
  border-radius: 2px;
  flex-direction: column;
  background-color: rgba(207, 230, 242, 1);
}
 
.dashboard-thq-text-elm21 {
  color: rgba(7, 30, 39, 1);
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-heading4-elm1 {
  display: flex;
  padding: 4px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-text-elm22 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-container-elm26 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-text-elm23 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-container-elm27 {
  gap: 4px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
 
.dashboard-thq-project-card2-elm {
  gap: 24px;
  display: flex;
  padding: 20px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.dashboard-thq-container-elm28 {
  gap: 4px;
  width: 926px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.dashboard-thq-container-elm29 {
  gap: 12px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.dashboard-thq-background-elm2 {
  display: flex;
  padding: 2px 8px;
  align-items: flex-start;
  border-radius: 2px;
  flex-direction: column;
  background-color: rgba(0, 53, 63, 1);
}
 
.dashboard-thq-text-elm24 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 10px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-heading4-elm2 {
  display: flex;
  padding: 4px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-text-elm25 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-thq-container-elm30 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.dashboard-thq-text-elm28 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.dashboard-link {
  display: contents;
}
 
.dashboard-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.dashboard-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.dashboard-text2 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
