.new-project-step1-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.new-project-step1-thq-new-project-step1-elm {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 0 0 0 256px;
  padding-right: 0 0 0 256px;
  flex-direction: row;
  padding-bottom: 0 0 0 256px;
  justify-content: flex-start;
  background-color: rgba(251, 248, 255, 1);
}
 
.new-project-step1-thq-aside-side-nav-bar-elm {
  width: 256px;
  height: 1080px;
  display: flex;
  padding: 32px 16px 581px;
  z-index: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(248, 250, 252, 1);
}
 
.new-project-step1-thq-margin-elm10 {
  display: flex;
  padding: 0 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-container-elm10 {
  gap: 12px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.new-project-step1-thq-academic-researcher-avatar-elm {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: rgba(224, 231, 255, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  background-size: cover;
  background-image: url("public/tq_bbsqklqqun-f1uv-200h.png");
}
 
.new-project-step1-thq-container-elm11 {
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm10 {
  color: rgba(49, 46, 129, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-navmargin-elm {
  height: 258px;
  display: flex;
  padding: 8px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.new-project-step1-thq-nav-elm1 {
  width: 224px;
  height: 250px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
}
 
.new-project-step1-thq-link-elm1 {
  top: 208px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.new-project-step1-thq-margin-elm11 {
  width: 32px;
  height: 16px;
}
 
.new-project-step1-thq-container-elm12 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm11 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-link-elm2 {
  top: 104px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.new-project-step1-thq-margin-elm12 {
  width: 36px;
  height: 16px;
}
 
.new-project-step1-thq-container-elm13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm12 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-link-elm3 {
  top: 52px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.new-project-step1-thq-margin-elm13 {
  width: 30px;
  height: 18px;
}
 
.new-project-step1-thq-container-elm14 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm13 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-link-elm4 {
  top: 156px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.new-project-step1-thq-margin-elm14 {
  width: 28px;
  height: 16px;
}
 
.new-project-step1-thq-container-elm15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm14 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-link-elm5 {
  top: 0px;
  left: 0px;
  width: 224px;
  display: flex;
  opacity: 0.80;
  padding: 12px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
 
.new-project-step1-thq-margin-elm15 {
  width: 30px;
  height: 18px;
}
 
.new-project-step1-thq-container-elm16 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm15 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-margin-elm16 {
  display: flex;
  padding: 40px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-container-elm17 {
  gap: 16px;
  height: 125px;
  display: flex;
  padding: 0 8px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.new-project-step1-thq-button-elm1 {
  gap: 7.989999771118164px;
  display: flex;
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  background: linear-gradient(159deg, rgba(0, 6, 102, 1) 0%, rgba(26, 35, 126, 1) 100%);
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
}
 
.new-project-step1-thq-buttonshadow-elm1 {
  top: 0px;
  left: 0px;
  width: 208px;
  height: 44px;
  position: absolute;
  border-radius: 8px;
}
 
.new-project-step1-thq-container-elm18 {
  width: 8px;
  height: 8px;
  z-index: 1;
}
 
.new-project-step1-thq-container-elm19 {
  display: flex;
  z-index: 2;
  align-items: center;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: center;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-horizontal-border-elm {
  gap: 4px;
  height: 95px;
  display: flex;
  padding: 16px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(226, 232, 240, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
}
 
.new-project-step1-thq-link-elm6 {
  gap: -3.552713678800501e-15px;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.new-project-step1-thq-margin-elm17 {
  width: 24px;
  height: 12px;
}
 
.new-project-step1-thq-container-elm20 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm17 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-link-elm7 {
  gap: -3.552713678800501e-15px;
  display: flex;
  opacity: 0.80;
  padding: 8px 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.new-project-step1-thq-margin-elm18 {
  width: 23px;
  height: 11px;
}
 
.new-project-step1-thq-container-elm21 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm18 {
  color: rgba(100, 116, 139, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-main-elm {
  gap: 48px;
  width: 1000px;
  height: 1040px;
  display: flex;
  padding: 17px 24px 80px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.new-project-step1-thq-header-section-elm {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-heading1-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm19 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 36px;
  align-self: stretch;
  font-style: ExtraBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 800;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-container-elm22 {
  width: 672px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm20 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-multi-step-wizard-layout-elm {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.new-project-step1-thq-aside-sidebar-progress-indicators-elm {
  width: 201.99998474121094px;
  display: flex;
  padding: 0 0 557.5px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.new-project-step1-thq-nav-elm2 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-container-elm23 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.new-project-step1-thq-container-elm24 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.new-project-step1-thq-background-elm1 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(0, 6, 102, 1);
}
 
.new-project-step1-thq-margin-elm19 {
  width: 1px;
  height: 56px;
  display: flex;
  padding: 8px 0 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.new-project-step1-thq-vertical-divider-elm1 {
  width: 1px;
  height: 48px;
}
 
.new-project-step1-thq-margin-elm20 {
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-container-elm25 {
  gap: -0.5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-container-elm26 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm23 {
  color: rgba(0, 6, 102, 1);
  height: auto;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-text-elm24 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-container-elm27 {
  display: flex;
  opacity: 0.50;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.new-project-step1-thq-container-elm28 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.new-project-step1-thq-background-elm2 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(228, 225, 234, 1);
}
 
.new-project-step1-thq-margin-elm21 {
  width: 1px;
  height: 56px;
  display: flex;
  padding: 8px 0 0;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.new-project-step1-thq-vertical-divider-elm2 {
  width: 1px;
  height: 48px;
}
 
.new-project-step1-thq-margin-elm22 {
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-container-elm29 {
  gap: -0.5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-container-elm30 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm25 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-text-elm26 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-container-elm31 {
  display: flex;
  opacity: 0.50;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.new-project-step1-thq-container-elm32 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.new-project-step1-thq-background-elm3 {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  justify-content: center;
  background-color: rgba(228, 225, 234, 1);
}
 
.new-project-step1-thq-margin-elm23 {
  display: flex;
  padding: 0 0 0 16px;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-paragraph-elm {
  gap: -0.5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm27 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 12px;
  font-style: SemiBold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-text-elm28 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Manrope;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-section-main-content-form-canvas-elm {
  gap: 32px;
  width: 701.9999389648438px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.new-project-step1-thq-background-shadow-elm {
  display: flex;
  padding: 48px 48px 64px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
  align-items: flex-start;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.new-project-step1-thq-form-step1-basic-info-elm {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-container-elm33 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-heading2-elm {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.new-project-step1-thq-container-elm34 {
  width: 22px;
  height: 16px;
}
 
.new-project-step1-thq-text-elm29 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Manrope;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-container-elm35 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-project-title-elm {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-label-elm1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm30 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-input-elm {
  display: flex;
  padding: 12px 12px 13px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(198, 197, 212, 0.30000001192092896);
  border-style: solid;
  border-width: 0 0 2px;
  justify-content: center;
}
 
.new-project-step1-thq-container-elm36 {
  width: 581.9999389648438px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm31 {
  color: rgba(203, 213, 225, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Manrope;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-category-grid-elm {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-label-elm2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm32 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-container-elm37 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.new-project-step1-thq-label-elm3 {
  width: 191.33331298828125px;
  display: flex;
  padding: 0 0 16px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.new-project-step1-thq-background-border-elm1 {
  gap: 4px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(198, 197, 212, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(245, 242, 251, 1);
}
 
.new-project-step1-thq-container-elm38 {
  width: 157px;
  height: 18px;
  align-self: stretch;
}
 
.new-project-step1-thq-container-elm39 {
  display: flex;
  padding: 4px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm33 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-container-elm40 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm34 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-label-elm4 {
  gap: 4px;
  width: 191.33331298828125px;
  display: flex;
  padding: 16px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(198, 197, 212, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(245, 242, 251, 1);
}
 
.new-project-step1-thq-container-elm41 {
  width: 157px;
  height: 20px;
  align-self: stretch;
}
 
.new-project-step1-thq-container-elm42 {
  display: flex;
  padding: 4px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm35 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-container-elm43 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm36 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-label-elm5 {
  width: 191.33331298828125px;
  display: flex;
  padding: 0 0 16px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.new-project-step1-thq-background-border-elm2 {
  gap: 4px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(198, 197, 212, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  flex-direction: column;
  background-color: rgba(245, 242, 251, 1);
}
 
.new-project-step1-thq-container-elm44 {
  width: 157px;
  height: 20px;
  align-self: stretch;
}
 
.new-project-step1-thq-container-elm45 {
  display: flex;
  padding: 4px 0 0;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm39 {
  color: rgba(27, 27, 33, 1);
  height: auto;
  font-size: 14px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-container-elm46 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm40 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-description-elm {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-label-elm6 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm41 {
  color: rgba(69, 70, 82, 1);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: SemiBold;
  text-align: left;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-textarea-elm {
  display: flex;
  padding: 16px 16px 112px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(198, 197, 212, 0.30000001192092896);
  border-style: solid;
  border-width: 0 0 2px;
  border-radius: 4px 4px 0 0;
  justify-content: center;
  background-color: rgba(239, 236, 245, 0.30000001192092896);
}
 
.new-project-step1-thq-container-elm47 {
  width: 573.9999389648438px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm42 {
  color: rgba(148, 163, 184, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Public Sans;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-form-navigation-buttons-elm {
  gap: 205.83999633789062px;
  display: flex;
  padding: 24px 0 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(198, 197, 212, 0.10000000149011612);
  border-style: solid;
  border-width: 1px 0 0;
  justify-content: space-between;
}
 
.new-project-step1-thq-button-elm2 {
  gap: -2.842170943040401e-14px;
  display: flex;
  padding: 12px 32px;
  position: relative;
  background: linear-gradient(90deg, rgba(0, 6, 102, 1) 0%, rgba(26, 35, 126, 1) 100%);
  align-items: center;
  border-radius: 8px;
}
 
.new-project-step1-thq-buttonshadow-elm2 {
  top: 0px;
  left: 0px;
  width: 265px;
  height: 48px;
  position: absolute;
  border-radius: 8px;
}
 
.new-project-step1-thq-container-elm48 {
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
}
 
.new-project-step1-thq-text-elm43 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Public Sans;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.new-project-step1-thq-margin-elm24 {
  display: flex;
  padding: 0 0 0 8px;
  z-index: 2;
  align-items: flex-start;
  flex-direction: column;
}
 
.new-project-step1-thq-container-elm49 {
  width: 9px;
  height: 9px;
}
 
.new-project-step1-link {
  display: contents;
}
 
.new-project-step1-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.new-project-step1-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.new-project-step1-text3 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
